<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestFood"
        tools:targetApi="31">
        <application
            android:allowBackup="true"
            android:label="App Order Food"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.OrderFood">

            <!-- Màn hình chính khi khởi động ứng dụng -->
            <activity android:name=".LoginActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

            <!-- Các Activity khác -->
            <activity android:name=".MainActivity" />
            <activity android:name=".AdminActivity" />
            <activity android:name=".NhanVienActivity" />
            <activity android:name=".QuanLyMonAnActivity" />
            <activity android:name=".QuanLyNhanVienActivity" />
            <activity android:name=".MenuMonAnActivity" />
            <activity android:name=".GioHangActivity" />
            <activity android:name=".ThanhToanActivity" />
            <activity android:name=".XemDonHangActivity" />
            <activity android:name=".DonHangDetailActivity" />
            <activity android:name=".ChonBanActivity" />
        </application>

    </application>

</manifest>